{% extends "pages/base.html" %}
{% load static %}

    
{% block content %}
    <div class="hero-wrap" style="background-image: url('{% static 'images/bnm_1.jpg' %}')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We Are Here To Bridge The Gap Of Hope For A Healthy Tomorrow.</h1>

            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://www.youtube.com/@breedingnewminds" target="_blank" class="btn btn-white btn-outline-white px-4 py-3"><span class="icon-play mr-2"></span>Watch Video</a></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-counter ftco-intro" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
              <div class="text">
              	<span>Reached out and gave hope to Over</span>
                <strong class="number" data-number="1200">0</strong>
                <span>People in the world</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Donate To Give Hope For a Life</h3>
              	<p>No Amount is Small. Your Small Can Be Somebody's Life Saver.</p>
              	<p><a href="#" class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Be a Volunteer</h3>
              	<p>In What Ways Can You Reach Out To Untold Distress Calls of People Around You. Be a Part of Breeding New Minds (BNM).</p>
              	<p><a href="#volun" class="btn btn-white px-3 py-2 mt-2">Volunteer Today</a></p>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>


    <section id="abouty" class="ftco-section bg-light">
    	<div class="container-fluid">
    		<div class="row justify-content-center">
          <div class="col-md-5 heading-section ftco-animate text-center">
            <h2 class="mb-4">About Breeding New Minds</h2>
            <p>An Initiative working on renewing the mindset of youths and bridging the gap as  regards to Health, Entrepreneurship and Skill Acquisition. Our Organization act as intermediaries reaching out on their behalf.</p>
          </div>
        </div>

        <div class="row">      
        	<!-- <div class="col-md-1 d-flex align-self-stretch ftco-animate"></div> -->    
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-1"><span class="fi fi-sr-binoculars"></span></div>
              <div class="media-body pl-4">
                <h3 class="heading">Vision</h3>
                <p>To create a platform that bridges the gap between individuals in need and the help givers. To serve as intermediaries actively reaching out on behalf of those seeking help. By doing so the initiative aims to efficiently and effectively connect those in need with appropriate support and resources. Fostering a sense of community and support for vulnerable individuals.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-1"><span class="fi fi-rr-bullseye-arrow"></span></div>
              <div class="media-body pl-4">
                <h3 class="heading">Mission</h3>
                <p>To provide coordinated, efficient and timely humanitarian relief for those  in need. This covers physical, psycological, mental and emotional aspects. With the primary aim of saving lives and alleviating the suffering of vulnerable individuals.</p>
              </div>
            </div>      
          </div>
          <!-- <div class="col-md-1 d-flex align-self-stretch ftco-animate"></div> -->
        </div>

    	</div>
    </section>


    <section id="causey" class="ftco-cause bg-light">
    	<div class="container-fluid">
    		<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-5 heading-section ftco-animate text-center">
					<h2 class="mb-4">Our Causes</h2>
					<p>Completed and ongoing projects.</p>
				</div>
        	</div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="carousel-cause owl-carousel">
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a href="#" class="img" style="background-image: url('{% static 'images/zarah2.jpg' %}')"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3><a href="#">Zarah Needs Your help</a></h3>
		    						<p>Diagnosed of Brain Tumor (Pituitary adenoma) And in need of urgent surgery</p>
		    						<span class="donation-time mb-3 d-block">Status: Ongoing</span>
									<div class="progress custom-progress-success">
										<div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span class="fund-raised d-block">$400 raised of $3,320</span>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a href="#" class="img" style="background-image: url('{% static 'images/hep8.jpg' %}')"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3><a href="#">Medical Outreach And Awareness</a></h3>
		    						<p>During a medical outreach in Katsina-ala, we paid courtesy visit to the former Chairman of Katsina-ala LGA, Benue, Nigeria</p>
		    						<span class="donation-time mb-3 d-block">
		                  			<div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
		                		</div>
		                
		    				</div>
	    				</div>
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a href="#" class="img" style="background-image: url('{% static 'images/hep4.jpg' %}')"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3><a href="#">1,000 Man Walk</a></h3>
		    						<p>A 1,000 man walk for Healthy Liver against Hepatitis</p>
		    						<span class="donation-time mb-3 d-block">Status: Completed in 2021</span>
		                			<div class="progress custom-progress-success">
										<div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
		                
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a href="#" class="img" style="background-image: url('{% static 'images/zarah.jpg' %}')"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3><a href="#">Zarah Needs Your help</a></h3>
		    						<p>Carrying out Test in preparation of her first surgery</p>
		    						<span class="donation-time mb-3 d-block">Status: Ongoing</span>
									<div class="progress custom-progress-success">
										<div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span class="fund-raised d-block">$400 raised of $3,320</span>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
	    					<div class="cause-entry">
		    					<a href="#" class="img" style="background-image: url('{% static 'images/hep7.jpg' %}')"></a>
		    					<div class="text p-3 p-md-4">
		    						<h3><a href="#">Medical Outreach Makurdi</a></h3>
		    						<p>A medical outreach in collaboration with Benue Medical Students Association (BEMSA) on Healthy Liver day</p>
		    						<span class="donation-time mb-3 d-block">Status: Completed in 2022</span>
									<div class="progress custom-progress-success">
										<div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
		                
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section id="galleria" class="ftco-gallery">
    	<div class="d-md-flex">
	    	<a href="{% static 'images/hep1.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep1.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep2.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep2.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep3.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep3.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep4.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep4.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
    	</div>
    	<div class="d-md-flex">
	    	<a href="{% static 'images/hep5.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep5.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep6.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep6.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep7.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep7.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    	<a href="{% static 'images/hep8.jpg' %}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{% static 'images/hep8.jpg' %}')">
	    		<div class="icon d-flex justify-content-center align-items-center">
	    			<span class="icon-search"></span>
	    		</div>
	    	</a>
	    </div>
    </section>
    

    <section id="eventy" class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Latest Events</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="#" class="block-20" style="background-image: url('{% static 'images/hep1.jpg' %}')">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">2022</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 8</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">World Liver Day</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 09:00AM</span> <span><i class="icon-map-o"></i> Venue Markurdi Town</span></p>
                <p>Breeding New Minds in collaboration with BEMSA conducted a medical outreach in collaboration on Healthy Liver day to sensitize people on how to maintain a healthy Liver</p>
                <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="#" class="block-20" style="background-image: url('{% static 'images/hep8.jpg' %}')">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Medical Outreach</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:00AM</span> <span><i class="icon-map-o"></i> Venue Katsina-ala</span></p>
                <p>During a medical outreach in Katsina-ala, we paid courtesy visit to the former Chairman of Katsina-ala LGA, Benue, Nigeria</p>
                <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="#" class="block-20" style="background-image: url('{% static 'images/hep4.jpg' %}')">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a href="#">2021</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">1000 Man Walk</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 08:00AM</span> <span><i class="icon-map-o"></i> Venue Makurdi</span></p>
                <p>A 1,000 man walk for Healthy Liver against Hepatitis</p>
                <p><a href="#">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>	
{% endblock %}